
@{
    ViewData["Title"] = "Create";
    ViewData["ActivePage"] = "Employees";
}
@using Task2.BLL.Helpers.Extensions.Employees
@model Task2.BLL.DTOs.EmployeeDTOs.EmployeeCreateRequestDTO


@* Form start *@
<div class="container-fluid pt-4 px-4">
	<div class="col-sm-12 col-xl-6">
		<div class="bg-light rounded h-100 p-4">
			<h6 class="mb-4">Create Employee</h6>
			<form asp-controller="Employees" asp-action="Create">

				<div class="row mb-3">
					<label asp-for="@Model.Fname" class="col-sm-2 col-form-label"></label>
					<div class="col-sm-10">
						<input asp-for="@Model.Fname" class="form-control">
						<span asp-validation-for="@Model.Fname" class="text-danger"></span>
					</div>
				</div>

				<div class="row mb-3">
					<label asp-for="@Model.Minit" class="col-sm-2 col-form-label"></label>
					<div class="col-sm-10">
						<input asp-for="@Model.Minit" class="form-control">
						<span asp-validation-for="@Model.Minit" class="text-danger"></span>
					</div>
				</div>

				<div class="row mb-3">
					<label asp-for="@Model.Lname" class="col-sm-2 col-form-label"></label>
					<div class="col-sm-10">
						<input asp-for="@Model.Lname" class="form-control">
						<span asp-validation-for="@Model.Lname" class="text-danger"></span>
					</div>
				</div>

				<fieldset class="row mb-3">
					<legend class="col-form-label col-sm-2 pt-0">Gender</legend>
					<div class="col-sm-10">
						@foreach (var gender in Enum.GetValues(typeof(EmpGender)))
						{
							<div class="form-check">
								<input class="form-check-input" type="radio"
									   id="Gender_@(gender)" name="Gender"
									   value="@gender" @(Model.Gender == (EmpGender)gender ? "checked" : "")>
								<label class="form-check-label" for="Gender_@(gender)">
									@gender
								</label>
							</div>
						}
						<span asp-validation-for="Gender" class="text-danger"></span>
					</div>
				</fieldset>


				<div class="row mb-3">
					<label asp-for="@Model.JobId" class="col-sm-2 col-form-label"></label>
					<div class="col-sm-10">
						<select asp-for="@Model.JobId" class="form-control" asp-items="ViewBag.JobList">
							<option value="">-- Select Job --</option>
						</select>
						<span asp-validation-for="@Model.JobId" class="text-danger"></span>
					</div>
				</div>

				<div class="row mb-3">
					<label asp-for="@Model.JobLvl" class="col-sm-2 col-form-label"></label>
					<div class="col-sm-10">
						<input asp-for="@Model.JobLvl" class="form-control">
						<span asp-validation-for="@Model.JobLvl" class="text-danger"></span>
					</div>
				</div>

				<div class="row mb-3">
					<label asp-for="@Model.PubId" class="col-sm-2 col-form-label"></label>
					<div class="col-sm-10">
						<select asp-for="@Model.PubId" class="form-control" asp-items="ViewBag.PublisherList">
							<option value="">-- Select Publisher --</option>
						</select>
						<span asp-validation-for="@Model.PubId" class="text-danger"></span>
					</div>
				</div>

				<div class="row mb-3">
					<label asp-for="@Model.HireDate" class="col-sm-2 col-form-label"></label>
					<div class="col-sm-10">
						<input asp-for="@Model.HireDate" class="form-control">
						<span asp-validation-for="@Model.HireDate" class="text-danger"></span>
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
	</div>
</div>

@* Form End *@